.posts-content {}

.posts-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.logo-post-container {
    max-width: 96px;
}

.img-post-container {
    width: 100%;
}

.post {
    border: solid black 1px;
    border-radius: 8px;
    width: 800px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px;
}

.right-post-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.anchor-post {
    text-decoration: none;
    font-size: var(--text-body);
    font-weight: var(--p-font-weight);
    color: var(--fg-secondary);
    border: 1px solid black;
    padding: 12px;
    border-radius: 8px;
}