/*---------------------------GLOBAL---------------------------*/
:root {
    /*font-family*/
    --font-family-main: 'roboto';

    /*font-size*/
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.4rem;
    --h3-font-size: 1.3rem;
    --p-font-size: 1rem;
    --heading-1: 3rem;
    --heading-2: 2.25rem;
    --heading-3: 1.875rem;
    --heading-4: 1.5rem;
    --text-large: 1.25rem;
    --text-body: 1rem;
    --text-md: 1rem;
    --text-small: 0.875rem;
    --text-eyebrow: 0.875rem;

    /*font-weight*/
    --h1-font-weight: 800;
    --h2-font-weight: 700;
    --h3-font-weight: 600;
    --font-regular: 400;
    --p-font-weight: 300;
    --thin-font-weight: 200;

    /*border radius*/
    --radius-xxs: 2px;
    --radius-xs: 4px;
    --radius-sm: 8px;
    --radius-md: 12px;
    --radius-lg: 20px;
    --radius-xl: 32px;
    --radius-full: 100%;
    --radius-checkbox: 6px;

    /*spacing*/
    --spacing-xxs: 2px;
    --spacing-xs: 4px;
    --spacing-sm: 8px;
    --spacing-md: 12px;
    --spacing-lg: 16px;
    --spacing-xl: 20px;
    --spacing-2xl: 24px;
    --spacing-3xl: 32px;
    --spacing-4xl: 40px;
    --spacing-5xl: 48px;
    --spacing-6xl: 64px;
    --spacing-7xl: 80px;
    --spacing-8xl: 120px;
    --spacing-9xl: 180px;
    --spacing-10xl: 260px;

    /*color - background*/
    --midnight-200: #e0e2e5;
    --midnight-100: #ebecef;
    --midnight-50: #fafafb;
    --white: #fff;

    --midnight-999: #030817;
    --midnight-800: #2b334a;
    --midnight-600: #7e8494;

    --blue-800: #084e9f;
    --blue-700: #0565c6;
    --blue-500: #2693ff;

    --yellow-400: #ffc600;
    --yellow-300: #ffd659;
    --yellow-200: #ffe185;

    --green-spring: #80eb6e;
    --red-angular: #f44336;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'roboto', sans-serif;
}

/*--------COMPONENT--------*/
.anchor {
    text-decoration: none;
    font-size: var(--text-body);
    font-weight: var(--p-font-weight);
    color: var(--fg-secondary);
}

.anchor:hover {
    text-decoration: none;
    color: white;
}

/*-----HORIZONTAL-RULE-----*/
.horizontal-rule {
    margin-left: 80px;
    margin-right: 80px;
}

/*--------SECTION----------*/

/*----NAVBAR----*/
.navbar {
    position: sticky;
    top: 0px;
    margin: 0px 10px;
}

.white-navbar {
    background-color: var(--white);
}

.navbar-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: var(--spacing-8xl);
}

.left-navbar-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    column-gap: var(--spacing-md);
}

.right-navbar-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    column-gap: var(--spacing-md);
}

.navbar-image-container {
   max-width: auto;
}

.navbar-image {
    max-width: 75px;
    border-radius: 50%;
}

/*-----HERO-----*/
.hero {}

.hero-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: var(--h1-font-size);
    row-gap: var(--spacing-3xl);
    background-color: var(--white);
    padding: var(--spacing-2xl) 0px;
}

.hero-image {
    max-width: 150px;
    border-radius: 50%;
}

.hero-button-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    column-gap: var(--spacing-xl);
}

.hero-button {
    text-decoration: none;
    font-size: 1.15rem;
    font-weight: var(--p-font-weight);
    color: var(--fg-secondary);
    border: 1px var(--midnight-800) solid;
    border-radius: var(--radius-md);
    padding: var(--spacing-md);
    transition: ease background-color 0.15s;
}

.hero-button:hover {
    background-color: var(--midnight-200);
    transition: ease background-color 0.15s;
}

/*-----FEATURE-----*/
.feature{}

.feature-section-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: var(--spacing-3xl);
    row-gap: var(--spacing-4xl);
    padding-bottom: var(--spacing-3xl);
}

.feature-stack-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    column-gap: var(--spacing-2xl);
}

.feature-card-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px var(--midnight-800) solid;
    border-radius: var(--radius-md);
    padding: var(--spacing-2xl) var(--spacing-2xl);
}

.feature-card-container-spring:hover {
    background-color: var(--green-spring);
    transition: ease background-color 0.2s, ease color 0.2s;
    color: white;
}

.feature-card-container-angular:hover {
    background-color: var(--red-angular);
    transition: ease background-color 0.2s, ease color 0.2s;
    color: white;
}

.feature-card-container a {
    text-decoration: none;
    font-size: var(--text-body);
    font-weight: var(--p-font-weight);
    color: var(--fg-secondary);
}

.feature-image-container {
    max-width: 100px;
    padding-bottom: var(--spacing-2xl);
}

.feature-image {
    width: 100%;
}

/*-----CTA-----*/
.cta {}

.cta-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: var(--spacing-3xl);
    row-gap: var(--spacing-4xl);
    padding-bottom: var(--spacing-3xl);
}