<div class="app-container">
    
    <div class="index-container">
        <div class="index-item">
            <p>Basic Testing in Angular</p>
        </div>
        <div class="index-item">
            <p>Advanced Component in Angular</p>
        </div>
        <div class="index-item">
            <p>HTTP Requests in Angular</p>
        </div>
        <div class="index-item">
            <p>Forms in Angular: Theory and Practice</p>
        </div>
        <div class="index-item">
            <p>Built-In Directives in Angular</p>
        </div>
        <div class="index-item">
            <p>Dependency Injection in Angular</p>
        </div>
    </div>

    <div class="content-container">
        <div class="title-container">
            <h1>Tutorials</h1>
        </div>
        <div class="paragraph-container">
            <p>Welcome to the Angular tutorials! These tutorials will guide you through the core concepts of the framework, and get you started building performant, scalable apps.</p>
        </div>
    </div>
</div>