/* You can add global styles to this file, and also import other style files */

:root {
  --blue: #1e90ff;
  --white: #ffffff;

  --spacing-sm: 8px;
  --spacing-me: 12px;
  --spaing-la: 24px;
  --spacing-xl: 32px;

  --gray-dark: #212529;
  --gray-medium: #343a40;
  --gray-light: #6c757d;
  --gray-lighter: #adb5bd;

  --background-gray-light: #e9ecef;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
