.keyword-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    column-gap: 20px;
}

.keyword-item {
    text-decoration: none;
    font-size: 1.15rem;
    font-weight: 300;
    color: var(--fg-secondary);
    padding: 2px;
    transition: ease background-color 0.15s;
}

.keyword-item:hover {
    background-color: #e0e2e5;
    transition: ease background-color 0.15s;
}

/*-----GENERIC-SECTION-----*/

.section-title-container {
    text-align: start;
    width: 100%;
    padding-bottom: 12px;
}

.section-content-container {
    padding-bottom: 24px;
}

/*-----INTRODUCTION-----*/

.introduction {
    display: flex;
    flex-direction: center;
    align-items: center;
    justify-content: center;
    padding-top: 64px;
}

.introduction-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 800px;
    background-color: white;
}

/*-----PREREQUISITES-----*/

.prerequisites {
    display: flex;
    flex-direction: center;
    align-items: center;
    justify-content: center;
}

.prerequisites-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 800px;
    background-color: white;
}

/*-----CONTENT-----*/

.content {
    display: flex;
    flex-direction: center;
    align-items: center;
    justify-content: center;
}

.content-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 800px;
    background-color: white;
}

/*-----CONCLUSION-----*/

.conclusion {
    display: flex;
    flex-direction: center;
    align-items: center;
    justify-content: center;
}

.conclusion-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 800px;
    background-color: white;
}

/*-----BIBLIOGRAPHY-----*/
.bibliography {
    display: flex;
    flex-direction: center;
    align-items: center;
    justify-content: center;
}

.bibliography-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 800px;
    background-color: white; 
}