mat-sidenav-container {
    height: 100vh;
}

mat-sidenav {
    width: fit-content;
    background-color: white;
    border-radius: 0px;
    border: 1px var(--gray-lighter) solid;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

.mat-sidenav-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.mat-sidenav-upper-container {
    display: flex;
    flex-direction: column;
}

.mat-sidenav-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 14px;
    color: var(--gray-medium);
    transition: color .3s ease;
    border-left: 3px solid white;
    padding-right: 12px;
    padding-left: 12px;
    padding-top: 22px;
    padding-bottom: 22px;
}

.mat-sidenav-item:hover {
    color: var(--gray-dark);
    cursor: pointer;
    transition: color .3s ease;
}

.sidenavbar-img-container {
    width: 64px;
}

.sidenavbar-img-container img {
    border-radius: 50%;
    width: 100%;
}

mat-sidenav-content {
    background-color: white;
}

.active-sidenavbar-item {
  border-left: 3px solid black;
}