<mat-sidenav-container autosize>
  
  <mat-sidenav mode="side" opened>
    <div class="mat-sidenav-container">
      
      <div class="mat-sidenav-upper-container">
        <div class="mat-sidenav-item" routerLink="home">
          <div class="sidenavbar-img-container">
            <img src="me.jpg" alt="">
          </div>
          <span>Home</span>
        </div>

        <div class="mat-sidenav-item" routerLink="tutorials">
          <mat-icon mat-list-icon>article</mat-icon>
          <span>Tutorials</span>
        </div>

        <div class="mat-sidenav-item" routerLink="portfolio">
          <mat-icon mat-list-icon>cases</mat-icon>
          <span>Portfolio</span>
        </div>

        <div class="mat-sidenav-item" routerLink="about">
          <mat-icon mat-list-icon>account_circle</mat-icon>
          <span>About</span>
        </div>

        <div class="mat-sidenav-item" routerLink="contact">
          <mat-icon mat-list-icon>contact_page</mat-icon>
          <span>Contact</span>
        </div>
      </div>

      <div class="mat-sidenav-lower-container">
        <div class="mat-sidenav-item">
          <mat-icon mat-list-icon>dark_mode</mat-icon>
          <span>Color mode</span>
        </div>
      </div>

    </div>
  </mat-sidenav>
  
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>

</mat-sidenav-container>