<div class="app-container">
    <div class="title-container">
        <h1>Portfolio</h1>
    </div>

    <div class="paragraph-container">
        <p>Welcome to the Angular tutorials! These tutorials will guide you through the core concepts of the framework, and get you started building performant, scalable apps.</p>
    </div>

    <div class="card-container">
        <mat-card class="example-card" appearance="outlined">
            <img mat-card-image src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/91/Octicons-mark-github.svg/2048px-Octicons-mark-github.svg.png" alt="Photo of a Shiba Inu">
            <mat-card-content>
                <h2>MyCRM</h2>
                <p>CRUD application in Angular 20 and Spring boot 3 implementing a simple CRM.</p>
            </mat-card-content>
        </mat-card>
    </div>
</div>