.app-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 70vw;
    padding-left: 32px;
}

.title-container {
    margin-top: 32px;
    margin-bottom: 24px;
}

.title-container h1 {
    margin: 0px;
    font-weight: 500;
}

.paragraph-container {
    margin-bottom: 24px;
}

.paragraph-container p{
    margin: 0px;
}

.card-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 24px;
    column-gap: 24px;
}

.example-card {
  max-width: 300px;
}

.example-card img {
    width: 100%;
}

.example-header-image {
  background-image: url('https://material.angular.dev/assets/img/examples/shiba1.jpg');
  background-size: cover;
}

mat-card-content h2 {
    margin-top: 12px;
    margin-bottom: 0px;
}

mat-card-content p {
    padding-top: 0px;
    margin-top: 6px;
    margin-bottom: 0px;
}

mat-card img {
    width: 400px;
    padding: 12px;
}

a {
    text-decoration: none;
    color: var(--gray-medium);
}